[defaults]
inventory = ansible/hcloud.yml
local_tmp = .ansible/tmp
remote_user = root
host_key_checking = False
private_key_file = ~/.ssh/hetznercloud

[inventory]
enable_plugins = hetzner.hcloud.hcloud, auto, yaml, ini
